html
{
  font-family: "black-rose-font", fantasy; 
}

@font-face {
  font-family: "black-rose-font";
  src: url("../fonts/black-rose-font/BlackRose-2Onld.ttf"); 
}

* 
{
  box-sizing: border-box;
  margin: 0;
}

body 
{
  background-image: url(../assets/BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 115%;
}

body::after
{
  content: '';
  background: rgba(211, 196, 172, 0.611);
  backdrop-filter: blur(-1px);
  width: 80%;
  height: 115%;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-left: 10%; 
  margin-top: 4%;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);      
}

main 
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

a{
  text-decoration: none;
  text-overflow: hidden;
}

h1 
{
  text-align: center;
  font-size: 8em;
  margin-top: 5rem;
  Color: rgb(43, 30, 16);
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.4);     
}


h2
{
  margin-bottom: 2em;
  text-align: center;
  font-size: 34px;
  margin-top: 2em;
  Color: rgb(43, 30, 16);

}

h3{
  Color: rgb(43, 30, 16);
  text-align: center;
  font-size: 34px;
  font-family: "black-rose-font", fantasy; 
  position: relative;
  bottom: 123px;
}


.scroll-nav {
  list-style: none;
  display: flex;
  margin-top: 6em;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: arial;
  margin-bottom: 10em;
  position: relative;
  bottom: 65px;
  padding-bottom: 0;
}

.container 
{
  display: flex;
  overflow: auto;
  flex: none;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);     
}

.container.x 
{
  width: 70%;
  transform-origin: 150px 150px;
  flex-flow: row nowrap;
  padding-left: 0;
  display: flex;

}

.x.mandatory-scroll-snapping 
{
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.container > li {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.container > a {
  line-height: 16em;
  column-width: 5em;
}

