html,

body {
  font-family: 'Playfair Display';
}

h1 {
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 4em;
    text-transform: uppercase;
    margin: 1rem 0 1rem;
    color: rgb(74, 143, 106);
}

h2{
  margin-bottom: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.9em;
  text-transform: uppercase;
  margin: 1.5rem 0 1rem;
  color: rgb(90, 163, 124);
}

.button {
  padding: 1em;
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  font-size: 0.5em;
}

.button:hover{
  background-color: #fff;
  color: rgb(74, 143, 106);
  box-shadow: 0px 0px 15px #00c853;
}

.holster {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 10em;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: arial;
  }

.container {
  display: flex;
  overflow: auto;
  outline: 1px dashed lightgray;
  flex: none;
}

.container.x {
  width:60%;
  flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}


.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.container > div {
  line-height: 280px;
  width: 60%;
  font-size:xx-large;
}

.container > div:nth-child(even) {
  background-color: #c9c9c9;
}

.container > div:nth-child(odd) {
  background-color: #5f5f5f;
}