html
{
  font-family: "black-rose-font", fantasy;
  
}

@font-face {
  font-family: "black-rose-font";
  src: url("../fonts/black-rose-font/BlackRose-2Onld.ttf");

}

* 
{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(../assets/BG2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 115%;
}

body::after
{
  content: '';
  background: rgba(211, 196, 172, 0.611);
  backdrop-filter: blur(-1px);
  width: 80%;
  height: 115%;
  position: absolute;
  top: 0;
  z-index: -1;
  margin-left: 10%; 
  margin-top: 4%;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);      
}

main 
{
  width: 80%;
  overflow: hidden;
  margin-left: 10%;
}


h1 
{
  text-align: center;
  font-size: 8em;
  margin-top: 5rem;
  color: rgb(27, 10, 66);
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.4);     
}

hr
{
  color: rgb(27, 10, 66);
}

h2{
  margin-bottom: 2em;
  text-align: center;
  font-size: 34px;
  margin-top: 2em;
  color: rgb(27, 10, 66);

}

.button {
  padding: 1em;
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  font-size: 0.5em;
}

.button:hover{
  background-color: #fff;
  color: rgb(74, 143, 106);
  box-shadow: 0px 0px 15px #00c853;
}


/* Vanaf hier begint de croll-navigatie */

.scroll-nav {
  display: flex;
  width: 100%;
  margin-top: 6em;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: arial;
  margin-bottom: 10em;
  position: relative;
  bottom: 65px;
  }

.container {
  display: flex;
  overflow: auto;
  flex: none;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);     
}

.container.x {
  width:60%;
  flex-flow: row nowrap;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}


.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.container > div {
  line-height: 16em;
  width: 48%;
  font-size:xx-large;
}

.container > div:nth-child(even) {
  background-color: rgba(211, 196, 172, 0.379);
}

.container > div:nth-child(odd) {

  background-color: rgba(211, 196, 172, 0.379);
}

.container > div:nth-of-type(1) {
  background-repeat: no-repeat;
  background-image: url(../assets/Strawhats.png);
}

.container > div:nth-of-type(2) {
  background-repeat: no-repeat;
  background-image: url(../assets/Testmilu.png);
}

.container > div:nth-of-type(3) {
  background-repeat: no-repeat;
  background-image: url(../assets/Imposters.png);
}

.container > div:nth-of-type(4) {
  background-repeat: no-repeat;
  background-image: url(../assets/Computernerds.png);
}

.container > div:nth-of-type(5) {
  background-repeat: no-repeat;
  background-image: url(../assets/Coldforce.png) ;
}